.galleryWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
  display: grid;
  grid-template-rows: 50px minmax(0, 1fr);
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #f6f7fb;
  /* background-color: #f8f9fb; */
  box-sizing: border-box;
  scrollbar-width: none; /* firefox hide scrollbar  */
  -ms-overflow-style: none; /* firefox hide scrollbar  */
}

.headerWrapper {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  background-color: white;

  padding: 0px 0px 0px 2%;
}