.KRProductPageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6 !important;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  scrollbar-width: none;
  /* firefox hide scrollbar  */
  -ms-overflow-style: none;
  /* firefox hide scrollbar  */
  display: grid;
  grid-template-rows: 50px minmax(0, 1fr);
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "headerWrapper headerWrapper"
    "imageWrapper descriptionWrapper";
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(180deg, #eaf5f9 25.79%, #f8f9fb 59.7%);
}

.headerWrapper {
  grid-area: headerWrapper;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  box-sizing: border-box;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.048); */
}

.imageWrapper {
  grid-area: imageWrapper;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  /* padding: 0px 15px 0px 15px; */
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
}

.imageContainer {
  position: relative;
  display: flex;
  width: 70%;
  height: 70%;
  box-sizing: border-box;
  /* padding: 0px 15px 0px 15px; */
  /* border: 1px solid blue; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ______________________________________________ */
.descriptionWrapper {
  grid-area: descriptionWrapper;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid black; */
  margin: 0px 0px 0px 0px;
  background-color: white;
  flex-direction: column;
  z-index: 1;
  display: grid;
  grid-template-rows: 80px 100px minmax(0, 1fr);
  grid-template-columns: 100%;
  grid-template-areas:
    "descriptionHeaderWrapper"
    "nameWrapper"
    "specsWrapper";
  background: linear-gradient(180deg, #eaf5f9 25.79%, #ffff 59.7%);
  background: linear-gradient(180deg, #eaf5f9 10.79%, #ffff 90.7%);
  background: linear-gradient(180deg, #eaf5f9 16.52%, #ffffff 54.83%);
  background: linear-gradient(180deg, #eaf5f9 16.52%, #ffffff 32.77%);
  /* border: 1px solid rgba(0, 0, 0, 0.048); */
}

.descriptionHeaderWrapper {
  grid-area: descriptionHeaderWrapper;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.nameWrapper {
  grid-area: nameWrapper;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.11); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.nameLineContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid black; */
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
  scrollbar-width: none;
  /* firefox hide scrollbar  */
  -ms-overflow-style: none;
  /* firefox hide scrollbar  */
}

.nameLineContainer::-webkit-scrollbar {
  display: none;
}

.nameLineDiv {
  position: relative;
  display: flex;
  width: 50%;
  height: 3px;
  box-sizing: border-box;
  margin: 0px 10px 0px 0px;
  background-color: black;
  border-radius: 50px;
}

.nameContainer {
  width: 90%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.productNameText {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: black;
  font-weight: 450;
  letter-spacing: 0.5px;
  margin: 0px 10px 0px 10px;
}

.specsWrapper {
  grid-area: specsWrapper;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.specsContainer {
  position: relative;
  width: 80%;
  height: 80%;
  /* border: 1px solid blue; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 10%;
}

.specsDiv {
  position: relative;
  width: 100%;
  height: 20%;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.labelDiv {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid orange; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
}


.attributeDiv {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid green; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.labelText {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #708090;
  color: black;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 2%;
}

.attributeText {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: black;
  color: #708090;
  font-weight: 550;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 2%;
}

.attributeEditInput {
  width: 100%;
  height: 80%;
  outline: none;

  box-sizing: border-box;
  /* border-radius: 5px; */
  padding: 0px 0px 0px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #002A9A;
  background: #00b5fd11;
  background: transparent;

  color: #002A9A;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;

  font-size: 0.9rem;
  font-weight: 450;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 2%;
}


/* ______________________________________________ */
.editBtnsWrapper {
  position: relative;
  display: flex;
  width: 100px;
  height: auto;
  padding: 0px 2% 0px 2%;
  padding: 0px 20px 0px 0px;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid black; */
}

.editBtnDiv {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  /* background-color: #f3f3f3; */
  /* display: none; */
  z-index: 3;
  border-radius: 5px;
  cursor: pointer;
}

.editIcons {
  font-size: 1.2rem;
  color: #9baece;
}

.editBtnText {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: black;
  font-weight: 450;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}

/* ________________________________________________ */
.backBtnDesktopContainer {
  position: relative;
  display: flex;
  width: auto;
  height: 35%;
  box-sizing: border-box;
  padding: 0px 15px 0px 20px;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  /* background-color: white; */
  cursor: pointer;
}

.backBtnMobContainer {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  display: none;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0px 15px 0px 20px;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  background-color: transparent;
  /* display: none; */
}

.iconDiv {
  /* border: 1px solid red; */
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.arrowIcon {
  /* font-size: 1.1rem; */
  margin: 0px 0px 0px 5px;
  color: black;
  font-size: 1rem;
  transform: rotate(-45deg);
}

.backBtnTextDiv {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  margin: 0px 0px 0px 10px;
}

.backBtnText {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 0.9rem;
  color: black;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}

/* ________________________________________________ */

.nameEditInput {
  width: 100%;
  height: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 0px 10px 0px 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #002A9A;
  background: transparent;
  color: #002A9A;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;

  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .KRProductPageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: flex-start; */
    /* background-color: #f8f9fb; */
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    scrollbar-width: none;
    /* firefox hide scrollbar  */
    -ms-overflow-style: none;
    /* firefox hide scrollbar  */
    display: grid;
    grid-template-rows: 60px minmax(0, 0.6fr) minmax(0, 0.4fr);
    grid-template-columns: 100%;
    grid-template-areas:
      "headerWrapper"
      "imageWrapper"
      "descriptionWrapper";
    /* background: linear-gradient(180deg, #EAF5F9 29.48%, #F1F2F6 67.62%) */
  }

  .editBtnsWrapper {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    padding: 0px 2% 0px 2%;
    padding: 0px 10px 0px 0px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
  }

  .editBtnDiv {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
    background-color: #dbdbdb;
    background-color: transparent;
    /* display: none; */
    z-index: 3;
    border-radius: 5px;
    cursor: pointer;
  }

  .editIcons {
    font-size: 1.1rem;
    font-size: 1.7rem;
    font-size: clamp(1.1rem,
        -0.09999999999999964rem + 5.999999999999998vw,
        1.7rem) !important;
    color: #9baece;
  }

  .headerWrapper {
    grid-area: headerWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    /* display: none; */
  }

  .imageWrapper {
    grid-area: imageWrapper;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    /* display: none; */
    box-sizing: border-box;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /* box-sizing: border-box; */

    /* display: none; */
  }

  .imageContainer {
    position: relative;
    display: flex;
    width: 70%;
    height: 70%;
    box-sizing: border-box;
    /* padding: 0px 15px 0px 15px; */
    /* border: 1px solid blue; */
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 0px 0px;
    /* display: none; */
  }

  .backBtnDesktopContainer {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0px 15px 0px 20px;
    /* border: 1px solid black; */
    justify-content: flex-start;
    align-items: center;
    margin: 2% 0px 2% 0px;
    background-color: white;
    display: none;
  }

  .backBtnWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 50px;
    /* border: 1px solid orange; */
    box-sizing: border-box;
  }

  .backBtnMobContainer {
    position: absolute;
    /* position: re; */
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    width: auto;
    height: 30px;
    height: 55%;
    box-sizing: border-box;
    padding: 0px 15px 0px 20px;
    /* border: 1px solid red; */
    justify-content: flex-start;
    align-items: center;
    margin: auto 0px auto 0px;
    background-color: transparent;
    /* display: none; */
  }

  .backBtnTextDiv {
    width: auto;
    height: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0px 0px 0px 10px;
  }

  .backBtnText {
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: black;
    font-weight: 450;
    letter-spacing: 0.5px;
    margin: 0px 0px 0px 0px;
  }

  .iconDiv {
    /* border: 1px solid blue; */
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    /* display: none; */
  }

  .arrowIcon {
    color: black;
    font-size: 1.1rem;
    margin: 0px 0px 0px 0px;
  }

  /* ______________________________________________ */
  .descriptionWrapper {
    grid-area: descriptionWrapper;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    /* border: 1px solid black; */
    margin: 0px 0px 0px 0px;
    background-color: white;
    flex-direction: column;
    z-index: 1;
    display: grid;
    grid-template-rows: 40px 50px minmax(0, 1fr);
    grid-template-columns: 100%;
    grid-template-areas:
      "descriptionHeaderWrapper"
      "nameWrapper"
      "specsWrapper";
    background: white;
  }

  .descriptionHeaderWrapper {
    grid-area: descriptionHeaderWrapper;
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }

  .nameWrapper {
    grid-area: nameWrapper;
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }

  .nameLineContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    /* border: 1px solid black; */
    margin: 0px 0px 0px 0px;
  }

  .nameLineDiv {
    display: flex;
    width: 50%;
    height: 3px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    background-color: black;
    border-radius: 50px;
  }

  .nameContainer {
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 10px 0px 0px;
  }

  .specsWrapper {
    grid-area: specsWrapper;
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 0px 0px;
  }

  .specsContainer {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 0px 0px;
  }

  .specsDiv {
    position: relative;
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }

  .labelDiv {
    position: relative;
    width: 50%;
    height: 100%;
    /* border: 1px solid orange; */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .attributeDiv {
    position: relative;
    width: 45%;
    height: 100%;
    /* border: 1px solid green; */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 0px 0px;
  }

  /* ____________________________________________________ */
  .productNameText {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-size: 1.2rem;

    font-size: clamp(0.9rem,
        0.30000000000000016rem + 2.999999999999999vw,
        1.2rem) !important;
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0px 10px 0px 5%;
    line-height: 1.5;
  }

  .labelText {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-size: 0.95rem;

    font-size: clamp(0.75rem,
        0.3500000000000001rem + 1.9999999999999998vw,
        0.95rem) !important;

    font-weight: 550;
    letter-spacing: 0.5px;
    margin: 0px 0px 0px 28%;
    /* display: none; */
  }

  .attributeText {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-size: 0.9rem;
    font-size: clamp(0.7rem,
        0.2999999999999998rem + 2.000000000000001vw,
        0.9rem) !important;

    font-weight: 550;
    letter-spacing: 0.5px;
    margin: 0px 10px 0px 15px;
    /* display: none; */
  }

  .attributeEditInput {
    width: 100%;
    height: 80%;
    outline: none;
    box-sizing: border-box;
    /* border-radius: 5px; */
    padding: 0px 0px 0px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #002A9A;
    background: #00b5fd11;
    background: transparent;
    color: #002A9A;
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.7rem,
        0.2999999999999998rem + 2.000000000000001vw,
        0.9rem) !important;
    font-weight: 550;
    letter-spacing: 0.5px;
    margin: 0px 10px 0px 15px;
  }

  .nameEditInput {
    width: 100%;
    height: 100%;
    outline: none;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 0px 10px 0px 5%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #002A9A;
    background: transparent;
    color: #002A9A;
    font-family: "Montserrat", sans-serif;
    margin: 0px 0px 0px 0px;
    font-size: clamp(0.9rem,
        0.30000000000000016rem + 2.999999999999999vw,
        1.2rem) !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
}