.KRProductPageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6 !important;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  scrollbar-width: none; /* firefox hide scrollbar  */
  -ms-overflow-style: none; /* firefox hide scrollbar  */
  display: grid;
  grid-template-rows: 50px minmax(0, 1fr);
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "headerWrapper headerWrapper"
    "imageWrapper descriptionWrapper";
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(180deg, #eaf5f9 25.79%, #f8f9fb 59.7%);
}


.imageWrapper {
  grid-area: imageWrapper;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  /* padding: 0px 15px 0px 15px; */
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
}
.imageContainer {
  position: relative;
  display: flex;
  width: 70%;
  height: 70%;
  box-sizing: border-box;
  /* padding: 0px 15px 0px 15px; */
  /* border: 1px solid blue; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.descriptionWrapper {
  grid-area: descriptionWrapper;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid black; */
  margin: 0px 0px 0px 0px;
  background-color: white;
  flex-direction: column;
  z-index: 1;
  display: grid;
  grid-template-rows: 80px 100px minmax(0, 1fr);
  grid-template-columns: 100%;
  grid-template-areas:
    "descriptionHeaderWrapper"
    "nameWrapper"
    "specsWrapper";
  background: linear-gradient(180deg, #eaf5f9 25.79%, #ffff 59.7%);
  background: linear-gradient(180deg, #eaf5f9 10.79%, #ffff 90.7%);
  background: linear-gradient(180deg, #eaf5f9 16.52%, #ffffff 54.83%);
  background: linear-gradient(180deg, #eaf5f9 16.52%, #ffffff 32.77%);
  /* border: 1px solid rgba(0, 0, 0, 0.048); */
}
.descriptionHeaderWrapper {
  grid-area: descriptionHeaderWrapper;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.specsWrapper {
  grid-area: specsWrapper;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.specsContainer {
  position: relative;
  width: 80%;
  height: 80%;
  /* border: 1px solid blue; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 10%;
}
.specsDiv {
  position: relative;
  width: 100%;
  height: 20%;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.attributeDiv {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid green; */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.labelText {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #708090;
  color: black;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 2%;
}
.attributeText {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: black;
  color: #708090;
  font-weight: 550;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 2%;
}
.attributeEditInput {
  width: 100%;
  height: 80%;
  outline: none;

  box-sizing: border-box;
  /* border-radius: 5px; */
  padding: 0px 0px 0px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00b7fd;
  background: #00b5fd11;
  background: transparent;

  color: #00b7fd;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;

  font-size: 0.9rem;
  font-weight: 450;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 2%;
}


/* ______________________________________________ */
.editBtnsWrapper {
  position: relative;
  display: flex;
  width: 100px;
  height: auto;
  padding: 0px 2% 0px 2%;
  padding: 0px 20px 0px 0px;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid black; */
}
.editBtnDiv {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  /* background-color: #f3f3f3; */
  /* display: none; */
  z-index: 3;
  border-radius: 5px;
  cursor: pointer;
}
.editIcons {
  font-size: 1.2rem;
  color: #9baece;
}
.editBtnText {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: black;
  font-weight: 450;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}
/* ________________________________________________ */
.backBtnDesktopContainer {
  position: relative;
  display: flex;
  width: auto;
  height: 35%;
  box-sizing: border-box;
  padding: 0px 15px 0px 20px;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  /* background-color: white; */
  cursor: pointer;
}

.backBtnMobContainer {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  display: none;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0px 15px 0px 20px;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  background-color: transparent;
  /* display: none; */
}
.iconDiv {
  /* border: 1px solid red; */
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.arrowIcon {
  /* font-size: 1.1rem; */
  margin: 0px 0px 0px 5px;
  color: black;
  font-size: 1rem;
  transform: rotate(-45deg);
}
.backBtnTextDiv {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  margin: 0px 0px 0px 10px;
}
.backBtnText {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 0.9rem;
  color: black;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}

.nameEditInput {
  width: 100%;
  height: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 0px 10px 0px 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00b7fd;
  background: transparent;
  color: #00b7fd;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;

  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .KRProductPageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: flex-start; */
    /* background-color: #f8f9fb; */
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    scrollbar-width: none; /* firefox hide scrollbar  */
    -ms-overflow-style: none; /* firefox hide scrollbar  */
    display: grid;
    grid-template-rows: 60px minmax(0, 0.6fr) minmax(0, 0.4fr);
    grid-template-columns: 100%;
    grid-template-areas:
      "headerWrapper"
      "imageWrapper"
      "descriptionWrapper";
    /* background: linear-gradient(180deg, #EAF5F9 29.48%, #F1F2F6 67.62%) */
  }

}