.ourProductsSectionWrapper {
  position: relative;
  width: 100%;
  height: 130vh !important;
  min-height: 130vh;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 40px 0px 40px 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  z-index: 1;
  padding: 0px;
  overflow: hidden;
  /* background-color: rgb(216, 216, 216); */
}
.verticalText1 {
  position: absolute;
  top: 210vh;
  /* top: 0px; */
  left: 10px;
  /* right: 100px; */
  /* bottom: 50%; */
  /* margin: auto; */
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: transparent;
  font-weight: 800;
  letter-spacing: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 3;
  width: 1px;
  word-wrap: break-word;
  white-space: pre-wrap;
  /* mix-blend-mode: color; */
  line-height: 1.1;
  /* border: 1px solid black; */
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);
  will-change: transform;
}
.verticalText2 {
  position: absolute;
  top: 210vh;
  /* top: 0px; */
  left: 10px;
  /* right: 100px; */
  /* bottom: 50%; */
  /* margin: auto; */
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: rgb(0, 0, 0);
  font-weight: 800;
  letter-spacing: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
  width: 1px;
  word-wrap: break-word;
  white-space: pre-wrap;
  /* mix-blend-mode: color; */
  line-height: 1.1;
  /* border: 1px solid black; */
  /* -webkit-text-stroke: 1px white; */
  /* text-stroke: 1px white; */
  transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);
  will-change: transform;
}
.imgWrapper {
  position: absolute;
  width: 60%;
  height: 60% !important;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: auto 0px auto 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  left: 20px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}
.bgImage {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ourProductsCardWrapper {
  position: relative;
  width: 55%;
  height: 50% !important;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  right: 20px;
  /* top: 20px; */
  /* background-color: white; */
  overflow: hidden;
  will-change: transform;

  /* align-self: flex-end; */
}
.ourProductsContainer {
  position: relative;
  width: 90%;
  height: 90% !important;
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 3;
  /* right: 20px; */
  /* top: 20px; */
  background-color: white;
  overflow: hidden;
  /* align-self: flex-end; */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
}

.contactUsCardWrapper {
  position: relative;
  width: 55%;
  height: 50% !important;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  /* right: 20px; */
  /* bottom: 20px; */
  /* align-self: flex-end; */
  right: 20px;
  overflow: hidden;
  will-change: transform;
}
.contactUsContainer {
  position: relative;
  width: 90%;
  height: 90% !important;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 3;
  /* right: 20px; */
  /* bottom: 20px; */
  background-color: white;
  /* align-self: flex-end; */
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.titleLine {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: slategrey;
  margin: 0px 10px 0px 50px;
}
.titleDivPrimary {
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  height: auto !important;
  box-sizing: border-box;
  margin: 50px 0px 50px 0px;
  /* background-color: white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 0px;
  /* top: 20px; */
}
.primaryTitleText {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #798093;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0px 0px 0px 10px;
}
/* .titleDivPrimary::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: slategray;
  margin: auto 0px auto 0px;
  bottom: 0px;
  left: 30px;
  top: 0px;
} */
.titleDivSecondary {
  /* border: 1px solid black; */
  width: 100%;
  height: auto !important;
  box-sizing: border-box;
  margin: 0px 0px 20px 0px;
  background-color: white;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 50px 0px 70px;
}

.secondaryTitleText {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: rgb(59, 59, 59);
  font-weight: 800;
  letter-spacing: 1px;
}
.linkDiv {
  /* border: 1px solid black; */
  width: 100%;
  height: auto !important;
  box-sizing: border-box;
  margin: 0px 0px 50px 0px;
  background-color: white;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 50px 0px 70px;
}
.linkText {
  /* border: 1px solid black; */
}
.navLink {
  position: relative;
  text-decoration: none;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  color: #040259;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.iconDiv {
  /* border: 1px solid black; */
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 10px;
}
.arrowIcon {
  font-size: 1.3rem;
  margin: 0px 0px 0px 0px;
  transform: rotate(-45deg);
}
.overflowText1 {
  position: absolute;
  top: -30px;
  right: 100px;
  font-family: "Montserrat", sans-serif;

  font-size: 5rem;
  color: rgba(88, 84, 84, 0.07);
  font-weight: 800;
  letter-spacing: 4px;
  margin: 0px 0px 0px 0px;
  z-index: 3;
  /* width: 1px; */
  /* word-wrap: break-word; */
  /* white-space: pre-wrap; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .ourProductsSectionWrapper {
    position: relative;
    width: 100%;
    height: 100vh !important;
    min-height: 100vh;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0px 0px 40px 0px;
    display: flex;
    justify-content: space-evenly !important;
    align-items: center !important;
    flex-direction: column;
    z-index: 1;
    padding: 0px;
    /* background-color: rgb(216, 216, 216); */
  }
  .verticalText1 {
    position: absolute;
    top: 210vh;
    /* top: 0px; */
    left: 5px;
    /* right: 100px; */
    /* bottom: 50%; */
    /* margin: auto; */
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: transparent;
    font-weight: 800;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 3;
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* mix-blend-mode: color; */
    line-height: 1.5;
    /* border: 1px solid black; */
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);
    will-change: transform;
  }
  .verticalText2 {
    position: absolute;
    top: 210vh;
    /* top: 0px; */
    left: 5px;
    /* right: 100px; */
    /* bottom: 50%; */
    /* margin: auto; */
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 800;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* mix-blend-mode: color; */
    line-height: 1.5;
    /* border: 1px solid black; */
    /* -webkit-text-stroke: 1px white; */
    /* text-stroke: 1px white; */
    transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);
    will-change: transform;
  }
  .imgWrapper {
    position: absolute;
    width: 100%;
    height: 50% !important;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: auto 0px auto 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto auto auto auto;
  }
  .bgImage {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ourProductsCardWrapper {
    position: relative;
    width: 100%;
    height: 50% !important;
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    right: 0px;
    /* top: 20px; */
    /* background-color: white; */
    overflow: hidden;
    /* align-self: flex-end; */
  }
  .ourProductsContainer {
    position: relative;
    width: 88%;
    height: 90% !important;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 5% 0px 5% 0px;

    display: flex;
    justify-content: space-evenly;

    align-items: flex-start;
    flex-direction: column;
    z-index: 3;
    right: 0px;
    /* top: 20px; */
    background-color: white;
    overflow: hidden;
    /* align-self: flex-end; */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  }
  .contactUsCardWrapper {
    position: relative;
    width: 100%;
    height: 50% !important;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    right: 0px;
    /* bottom: 20px; */
    /* align-self: flex-end; */
    /* right: 20px; */
    overflow: hidden;
  }
  .contactUsContainer {
    position: relative;
    width: 88%;
    height: 90% !important;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 5% 0px 5% 0px;

    display: flex;
    justify-content: space-evenly;

    align-items: flex-start;
    flex-direction: column;
    z-index: 3;
    /* right: 20px; */
    /* bottom: 20px; */
    background-color: white;
    /* align-self: flex-end; */
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  .titleLine {
    position: relative;
    width: 30px;
    height: 2px;
    background-color: slategrey;
    margin: 0px 0px 0px 8%;
  }
  .titleDivPrimary {
    /* border: 1px solid orange; */
    position: relative;
    width: 100%;
    height: auto !important;
    box-sizing: border-box;
    margin: 0% 0px 0% 0px;
    /* background-color: white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    /* top: 20px; */
  }
  
  .primaryTitleText {
    font-size: clamp(
      0.7rem,
      0.2999999999999998rem + 2.000000000000001vw,
      0.9rem
    ) !important;
    /* font-size: 0.7rem; */
    /* font-size: 0.9rem; */

    color: slategray;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0px 0px 0px 10px;
  }

  .titleDivSecondary {
    /* border: 1px solid black; */
    width: 100%;
    height: auto !important;
    box-sizing: border-box;
    margin: 0% 0px 0% 0px;

    background-color: white;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 5% 0px 8%;
    overflow: hidden;
  }

  .secondaryTitleText {
    font-size: clamp(0.9rem, -0.29999999999999993rem + 6vw, 1.5rem) !important;
    /* font-size: 0.9rem; */
    /* font-size: 1.5rem; */

    color: rgb(59, 59, 59);
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 1.5;
    /* border: 1px solid black; */

  }
  .linkDiv {
    /* border: 1px solid black; */
    width: 100%;
    height: auto !important;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    background-color: white;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 8%;
    overflow: hidden;
  }
  .navLink {
    font-size: 0.5rem;
    font-size: 0.8rem;
    font-size: clamp(
      0.5rem,
      -0.10000000000000009rem + 3.0000000000000004vw,
      0.8rem
    ) !important;
    color: #040259;
    font-weight: 550;
    letter-spacing: 3px;
  }
  .iconDiv {
    /* border: 1px solid black; */
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .arrowIcon {
    font-size: 1.2rem;
    margin: 0px 0px 0px 5px;
  }
}
