.ourPartnersSectionWrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    min-height: 90%;
    /* border: 1px solid black; */
    margin: 100px 0px 100px 0px;
    /* background-color: white; */
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .logoWrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 25%;
    /* border: 1px solid red; */
    margin: 0% 0px 0% 0px;
    box-sizing: border-box;
  }
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
  }

  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .ourPartnersSectionWrapper {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      width: 85%;
      height: 60%;
      min-height: 60%;
      /* border: 1px solid black; */
      margin: 0px 0px 100px 0px;
    }
  
    .logoWrapper {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 25%;
      /* height: auto; */
      /* border: 1px solid red; */
      margin: 0% 0px 0% 0px;
    }
    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 100%;
    }
    .primaryTitleDiv {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 20%;
      margin: 0% 0px 0% 0px;
      padding: 0% 0px 0% 0px;
    }
    .titleLine {
      position: relative;
      width: 20px;
      height: 2px;
      background-color: #352b5f;
      margin: 0px 10px 0px 0%;
      border-radius: 20px;
    }
    .primaryTitleText {
      font-size: clamp(
        0.55rem,
        -0.04999999999999982rem + 2.999999999999999vw,
        0.85rem
      ) !important;
      margin: 0px 0px 0px 0px;
      white-space: nowrap;
      letter-spacing: 0.6em;
    }
  }
  