.ourCompaniesWrapper {
  position: relative;
  width: 100%;
  height: 130%;
  min-height: 130%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 50px 0px 50px 0px;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 60%;
  min-height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  box-sizing: border-box;
  overflow: hidden;
}
.imageElement {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.contentWrapper {
  position: relative;
  width: 100%;
  height: 40%;
  min-height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  box-sizing: border-box;
  overflow: hidden;
  background-color: #303030;
}

.primaryTitleDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  /* text-align: center; */
  /* border: 1px solid red; */
  margin: 0% 0px 0% 0px;
  box-sizing: border-box;
}

.primaryTitleText {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0px 0px 0px 10px;
  letter-spacing: 0.8em;
  color: #ffffff;
}

.titleLine {
  position: relative;
  /* width: 30px; */
  /* height: 2px; */
  width: 50px;
  height: 2px;
  background-color: white;
  margin: 0px 10px 0px 10px;
}
.vishvakarmaTextWrapper {
  position: relative;
  width: 100%;
  height: 40%;
  /* min-height: 30%; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  /* border: 1px solid blue; */
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  padding: 0px 0% 0px 8%;
}
.krTextWrapper {
  position: relative;
  width: 100%;
  height: 40%;
  /* min-height: 30%; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  /* border: 1px solid red; */
  box-sizing: border-box;
  overflow: hidden;
  background-color: #303030;
  padding: 0px 8% 0px 0px;
}
/* ___________________ */
.titleDivSecondary {
  /* border: 1px solid black; */
  width: auto;
  height: auto !important;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 0px 0px;
}

.secondaryTitleText1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
}
.secondaryTitleText2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}

.linkDiv {
  /* border: 1px solid black; */
  width: auto;
  height: auto !important;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}

.linkText1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  color: #040259;
  font-weight: 550;
  letter-spacing: 6px;
  margin: 0px 0px 0px 0px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.linkText2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  color: white;
  font-weight: 550;
  letter-spacing: 6px;
  margin: 0px 0px 0px 0px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.iconDiv {
  /* border: 1px solid black; */
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 10px;
}
.arrowIcon {
  font-size: 1.3rem;
  margin: 0px 0px 0px 0px;
  transform: rotate(-45deg);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .primaryTitleText {
    font-size: clamp(
      0.55rem,
      -0.04999999999999982rem + 2.999999999999999vw,
      0.85rem
    ) !important;
    margin: 0px 5px 0px 5px;
  }

  .secondaryTitleText1 {
    font-size: clamp(0.9rem, -0.29999999999999993rem + 6vw, 1.5rem) !important;
  }
  .secondaryTitleText2 {
    font-size: clamp(0.9rem, -0.29999999999999993rem + 6vw, 1.5rem) !important;
  }

  .linkText1 {
    font-size: clamp(
      0.5rem,
      -0.10000000000000009rem + 3.0000000000000004vw,
      0.8rem
    ) !important;
  }
  .linkText2 {
    font-size: clamp(
      0.5rem,
      -0.10000000000000009rem + 3.0000000000000004vw,
      0.8rem
    ) !important;
  }

  .arrowIcon {
    font-size: 1.2rem;
    margin: 0px 0px 0px 5px;
  }
}
