.landingBannerWrapper {
  position: relative;
  width: 100%;
  height: 102% !important;
  min-height: 102%;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-size: cover; */
  padding: 0px;
  z-index: 1;
  scroll-snap-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* display: none; */

}
.bannerImgContainer {
  position: relative;
  width: 100%;
  height: 100% !important;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bannerImage {
  position: absolute;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  /* object-fit: contain; */
  /* object-fit: fill; */
  /* object-fit: scale-down; */
  /* border: 1px solid red; */
  /* background-position: right; */
  z-index: 2;
}
.overlayDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(26, 28, 34, 0.685) 21.21%,
    rgba(26, 28, 34, 0.363) 62.23%
  );

  z-index: 3;
  top: 0px;
}


  
  
.textDiv {
  position: relative;
  width: 100%;
  height: 100% !important;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  box-sizing: border-box;
  padding: 5% 0% 5% 0%;
  z-index: 4;
}
.scrollDownTextDiv {
  position: relative;
  width: 90%;
  height: auto !important;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 20px 0% 0% 0%;
  z-index: 4;
}