* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f7fb;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  height: 100vh;
  min-height: 100vh;
}

.app {
  position: fixed;
  /* background-color: #f6f7fb; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .app::-webkit-scrollbar {
  display: none;
} */