.notFoundComponent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  /* background-color: aqua; */
  z-index: 100;
}
.imgDiv {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* border: 1px solid black; */
}
.imgDiv img {
  object-fit: contain;
  width: 80%;
  height: 80%;
}