.viswakarmaProductListWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
  display: grid;
  grid-template-rows: 25px minmax(0, 1fr);
  /* align-items: center; */
  /* justify-content: center; */
  box-sizing: border-box;
  padding: 0px 0px 20px 0px;
  scrollbar-width: none; /* firefox hide scrollbar  */
  -ms-overflow-style: none; /* firefox hide scrollbar  */
  /* background-color: #f6f7fb; */
  z-index:1;
}

.headerWrapper {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  padding: 0px 0px 0px 2%;
}
.pathDiv {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pathText {
  margin: 0px 5px 0px 5px;
  font-family: "Montserrat", sans-serif;
  color: #c4c4c4;
  font-weight: 500;
  letter-spacing: 0.3px;

  font-size: 0.8rem;
  text-transform: capitalize;
}
.pathTextCurrent {
  margin: 0px 5px 0px 5px;
  /* height:100%; */
  font-family: "Montserrat", sans-serif;
  color: #363659;
  color: #352b5f;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 0.8rem;
  /* border-bottom: 1px solid blue; */
  /* padding: 0px 0px 5px 0px; */
  text-transform: capitalize;
}
.chevronDiv {
  width: auto;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pathChevron {
  font-size: 0.9rem;
  color: #b8bbcc;
}