.VKProductPageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f9fb;
  background-color: #f6f6f6 !important;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  scrollbar-width: none; /* firefox hide scrollbar  */
  -ms-overflow-style: none; /* firefox hide scrollbar  */
  display: grid;
  grid-template-rows: 50px 50px 80px minmax(0, 1fr);
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "headerWrapper headerWrapper"
    "backBtnWrapper backBtnWrapper"
    "productNameWrapper productNameWrapper"
    "imageWrapper imageWrapper";
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(180deg, #eaf5f9 25.79%, #f8f9fb 59.7%);
  /* border: 1px solid red; */
}
