.productCardWrapper {
  position: relative;
  width: 180px;
  aspect-ratio: 2/3;
  align-items: center;
  display: grid;
  grid-template-rows: 85% 15%;
  align-items: center;
  /* padding: 0px 0px 15px 0px; */
  margin: 15px 15px 15px 15px;

  /* overflow: hidden; */
  border-radius: 5px;
  z-index: 1;
  box-sizing: border-box;
  /* backdrop-filter: blur(10px); */
  -webkit-backdrop-filter: blur(40px);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  /* border: 1px solid rgba(0, 0, 0, 0.055); */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075),
    0 5px 5px rgba(0, 0, 0, 0.048);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075),
    0 5px 5px rgba(0, 0, 0, 0.048);
  background-color: white;
  grid-gap: 2%;
}

.productImageWrapper {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 95%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* border: 1px solid rgba(223, 223, 223, 0.384); */
  /* border: 1px solid rgba(0, 0, 0, 0.055); */
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow: hidden;
  box-sizing: border-box;
  /* border: 1px solid #f6f7fb; */
  background-color: #f6f7fb;
}

.productImg {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.loadingDiv {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.61);
  /* filter: blur(50px); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
}

.trashIcon {
  color: #9baece;
  font-size: 20px;
  cursor: pointer;
}

.productTitleWrapper {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  height: 100%;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  justify-content: flex-start;
  /* text-align: start; */
  align-items: flex-start;
  /* overflow-x: auto; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  box-sizing: border-box;
  padding: 0px 5% 0px 8%;

  backface-visibility: hidden;
  /* scrollbar-width: none;  */
  /* -ms-overflow-style: none;  */
  /* flex-wrap: wrap; */
  overflow: hidden;
  /* border-top: 1px solid rgba(0, 0, 0, 0.055); */
}

.productTitleWrapper p {
  position: relative;
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 550;
  color: black;
  font-size: 0.7rem;
  /* white-space: nowrap; */
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
  backface-visibility: hidden;
  line-height: 1.5;
  max-height: 2rem;
  /* max-width: 190px; */
  box-orient: vertical;
  -moz-box-orient: vertical;
  /* Mozilla */
  -webkit-box-orient: vertical;
  /* WebKit */
  display: box;
  display: -moz-box;
  /* Mozilla */
  display: -webkit-box;
  /* WebKit */
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden !important;
}

.productTitleWrapper::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .productCardWrapper {
    position: relative;
    width: 42%;
    aspect-ratio: 2/2.5;
    display: flex;
    margin: 3% auto 3% 3%;
    margin: 3% auto 3% 5%;
    margin: 8% 4% 3% 4%;
    display: grid;
    grid-template-rows: 85% 15%;
    /* border: 1px solid rgba(red) !important; */
    border-radius: 10px;
  }

  .productTitleWrapper p {
    font-family: "Montserrat", sans-serif;
    /* border: 1px solid black; */
    /* width: 100%; */
    /* height: 100%; */
    /* font-family: "Poppins", sans-serif; */
    width: 100%;
    height: 85%;
    font-weight: 550;
    color: black;
    /* font-size: 0.5rem; */
    /* font-size: 0.75rem; */
    /* white-space: nowrap; */
    letter-spacing: 0.5px;
    backface-visibility: hidden;
    line-height: 1.5;
    margin: 0px 0px 0px 0px;
    font-size: clamp(0.5rem, 0rem + 2.5vw, 0.75rem) !important;
  }

  .productTitleWrapper {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    height: 100%;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0px 5% 0px 5%;
    backface-visibility: hidden;
    overflow: hidden;
  }

  .trashIcon {
    color: #9baece;
    font-size: 1rem;
    font-size: 1.2rem;
    font-size: clamp(1rem,
        0.6000000000000001rem + 1.9999999999999998vw,
        1.2rem) !important;
    cursor: pointer;
  }
}