.VKProductPageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f9fb;
  background-color: #f6f6f6 !important;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  scrollbar-width: none; /* firefox hide scrollbar  */
  -ms-overflow-style: none; /* firefox hide scrollbar  */
  display: grid;
  grid-template-rows: 50px 50px 80px minmax(0, 1fr);
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "headerWrapper headerWrapper"
    "backBtnWrapper backBtnWrapper"
    "productNameWrapper productNameWrapper"
    "imageWrapper imageWrapper";
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(180deg, #eaf5f9 25.79%, #f8f9fb 59.7%);
  /* border: 1px solid red; */
}

.headerWrapper {
  grid-area: headerWrapper;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  box-sizing: border-box;
}
.backBtnWrapper {
  grid-area: backBtnWrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
  box-sizing: border-box;
}
.backBtnContainer {
  position: relative;
  display: flex;
  width: auto;
  height: 100%;
  height: 55%;
  box-sizing: border-box;
  padding: 0px 15px 0px 20px;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  background-color: transparent;
  cursor: pointer;
}


.backBtnWrapper {
  grid-area: backBtnWrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
  box-sizing: border-box;
}
.backBtnContainer {
  position: relative;
  display: flex;
  width: auto;
  height: 100%;
  height: 55%;
  box-sizing: border-box;
  padding: 0px 15px 0px 20px;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  background-color: transparent;
  cursor: pointer;
}

.iconDiv {
  /* border: 1px solid red; */
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.arrowIcon {
  margin: 0px 0px 0px 0px;
  color: black;
  font-size: 1rem;
  transform: rotate(-45deg);
}
.backBtnTextDiv {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  margin: 0px 0px 0px 10px;
}
.backBtnText {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 0.9rem;
  color: black;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}
/* ______________________________________________ */
.editBtnsWrapper {
  position: relative;
  display: flex;
  width: 100px;
  height: auto;
  padding: 0px 2% 0px 2%;
  padding: 0px 20px 0px 0px;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid black; */
}
.editBtnDiv {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  /* background-color: #f3f3f3; */
  /* display: none; */
  z-index: 3;
  border-radius: 5px;
  cursor: pointer;
}
.editIcons {
  font-size: 1.2rem;
  color: #9baece;
}
.editBtnText {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: black;
  font-weight: 450;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.productNameWrapper {
  grid-area: productNameWrapper;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  box-sizing: border-box;
}
.nameLineContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 3%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid black; */
  margin: 0px 10px 0px 20px;
  overflow-x: hidden;

  scrollbar-width: none; /* firefox hide scrollbar  */
  -ms-overflow-style: none; /* firefox hide scrollbar  */
}
.nameLineContainer::-webkit-scrollbar {
  display: none;
}
.nameLineDiv {
  position: relative;
  display: flex;
  width: 100%;
  height: 3px;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  background-color: black;
  border-radius: 80px;
}
.productNameContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
}
.productNameText {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 5px;
}
.nameEditInput {
  width: 100%;
  height: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 0px 0px 0px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00b7fd;
  background: transparent;
  color: #00b7fd;
  font-family: "Montserrat", sans-serif;

  font-size: 2rem;
  font-weight: 500;

  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}