.menuIconWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60px;
  height: 60px;
  /* border: 1px solid black; */
  z-index: 50;
  top: 0px;
  right: 0px;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;

}


.menuIconWrapperRelative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60px;
  height: 100%;
  /* border: 1px solid black; */
  z-index: 50;
  top: 0px;
  right: 0px;
  /* align-content: space-between; */
}

.lineOne {
  position: relative;
  margin: 0px 0px 2.5px 0px;
  width: 50%;
  height: 0.2rem;
  min-height: 0.2rem;
  /* background-color: red; */
  background-color: #352b5f;
  /* border-radius: 50px; */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  /* border-radius: 20px; */
}


.lineTwo {
  position: relative;
  margin: 2.4px 0px 0px 0px;
  width: 50%;
  height: 0.2rem;
  min-height: 0.2rem;
  /* background-color: blue; */
  background-color: #352b5f;
  /* border-radius: 50px; */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  /* border-radius: 20px; */
}

.xLineOne {
  position: absolute;
  width: 40%;
  height: 0.2rem;
  min-height: 0.2rem;
  background-color: #352b5f;
  transform: rotate(-45deg);
  /* border-radius: 50px; */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.xLineTwo {
  position: absolute;
  width: 40%;
  height: 0.2rem;
  min-height: 0.2rem;
  background-color: #352b5f;
  transform: rotate(45deg);
  /* border-radius: 50px; */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}