.deleteModalWrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0px;
  right: 0px;
  top: 10%;
  /* bottom: 0px; */
  width: 280px;
  /* height: 150px; */
  aspect-ratio: 3/2;
  display: grid;
  grid-template-rows: minmax(0, 0.8fr) minmax(0, 1fr) minmax(0, 1.1fr) minmax(
      0,
      1fr
    );
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "warningIconWrapper warningIconWrapper"
    "deleteTittleWrapper deleteTittleWrapper"
    "deleteMessageWrapper deleteMessageWrapper"
    "cancelBtnWrapper deleteBtnWrapper";
  /* border: 1px solid black; */
  border-radius: 10px;
  z-index: 20;
  background-color: white;
  box-sizing: border-box;
  padding: 1% 0px 0% 0px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.deleteMessageWrapper {
  grid-area: deleteMessageWrapper;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.deleteMessage {
  font-family: "Montserrat", sans-serif;
  width: 90%;
  font-weight: 500;
  color: #9e9d9d;
  font-size: 0.7rem;
  /* border: 1px solid blue; */
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.warningIconWrapper {
  grid-area: warningIconWrapper;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.warningIcon {
  position: relative;
  /* width: 70%; */
  height: 75%;
  /* border: 1px solid black; */
}