.styleElementWrapper {
  position: relative;
  width: 100%;
  height: 120vh;
  min-height: 120vh;
  /* border: 1px solid black; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  margin: 40px 0px 40px 0px;

}

.titleLine {
  position: relative;
  width: 50px;
  height: 2px;
  background-color: #352b5f;
  margin: 0px 10px 0px 10%;
  border-radius: 20px;
}

.titleDiv {
  width: 100%;
  height: 20%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleText {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #352b5f;
  font-weight: 700;
  letter-spacing: 0.8em;
  margin: 0px 8% 0px 10px;
}

.imgWrapper {
  position: relative;
  width: 45%;
  height: 70%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
.overlayDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.226);
}
.imgBg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.primaryText {
  position: absolute;

  /* top: 50%; */
  /* bottom: 50%; */
  /* left: 100vw; */
  left: calc(280vh / 2);
  left: calc(290vh / 2);

  width: 100%;

  /* right: 0%; */
  /* bottom: 50%; */
  /* margin: auto; */
  font-family: "Montserrat", sans-serif;
  font-family: 'Poppins', sans-serif;

  font-size: 9.375rem;
  color: black;
  font-weight: 800;
  letter-spacing: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1);
}

.secondaryText {
  position: absolute;
  /* top: 0px; */
  /* bottom: 0px; */
  /* left: 100vw; */
  left: calc(280vh / 2);
  left: calc(220vh / 2);
  left: calc(290vh / 2);

  width: 100%;
  /* margin: 0px auto auto; */
  font-family: "Montserrat", sans-serif;
  font-family: 'Poppins', sans-serif;

  font-size: 9.375rem;
  color: transparent;
  font-weight: 800;
  letter-spacing: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 3;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1);
}

.verticalText {
  position: absolute;
  top: calc(230vh / 2);
  left: 80px;
  /* left: 1200px; */

  /* right: 0%; */
  /* bottom: 50%; */
  /* margin: auto; */
  font-family: "Montserrat", sans-serif;

  font-size: 5rem;
  color: rgba(88, 84, 84, 0.07);
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 3;
  width: 1px;
  word-wrap: break-word;
  white-space: pre-wrap;
  transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .styleElementWrapper {
    position: relative;
    width: 100%;
    height: 60vh;
    min-height: 60vh;
    /* border: 1px solid black; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px 0px 10px 0px;
  }
  .titleDiv {
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgWrapper {
    position: relative;
    width: 55%;
    height: 70%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
  }
  .imgBg {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .titleText {
    font-size: 0.7rem;
    font-size: 1rem;
    font-size: clamp(
      0.55rem,
      -0.04999999999999982rem + 2.999999999999999vw,
      0.85rem
    ) !important;
    margin: 0px 0px 0px 10px;
  }
  .primaryText {
    position: absolute;
    /* top: 0%; */
    left: calc(250vh / 2);
    left: calc(220vh / 2);

    width: 100%;
    /* right: 0%; */
    /* bottom: 50%; */
    /* margin: auto; */
    /* font-family: "Montserrat", sans-serif; */

    font-size: 2.5rem;
    color: black;
    font-weight: 900;
    /* letter-spacing: 1.5rem; */
    letter-spacing: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
  }

  .secondaryText {
    position: absolute;
    /* top: 0%; */
    width: 100%;
    left: calc(250vh / 2);
    left: calc(220vh / 2);

    /* right: 0%; */
    /* bottom: 50%; */
    /* margin: auto; */
    /* font-family: "Montserrat", sans-serif; */
    font-size: 2.5rem;
    color: transparent;
    font-weight: 900;
    letter-spacing: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 3;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
  }
  .verticalText {
    position: absolute;
    top: 370vh;
    top: 330vh;
    top: calc(250vh / 2);
    left: 30px;
    /* right: 0%; */
    /* bottom: 50%; */
    /* margin: auto; */
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    color: rgba(88, 84, 84, 0.096);
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 5;
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
